.footer {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  background: var(--backgroud-color-light);
  width: 100%;
  height: 80px;

  &__text {
    font-size: var(--font-size-md);
    color: var(--footer-color);
  }
}
