@import "@/design-system/styles/mixins.scss";

:root {
  --background-color: #1e2021;
  --backgroud-color-light: #181a1b;

  --primary-color: #a370f7;
  --primary-color-light: #c7a3ff;
  --primary-color-dark: #7449b5;

  --title-color: #fff;
  --text-color: #f0f0f0;

  --footer-color: #f0f0f0;

  --font-size-xxs: 0.5rem;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-xxl: 1.5rem;
  --font-size-xxxl: 2rem;
  --font-size-xxxxl: 3rem;

  --spacing-xxs: 0.5rem;
  --spacing-xs: 0.75rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.25rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-xxl: 3rem;
  --spacing-xxxl: 4rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background-color);
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

h4 {
  @include h4;
}

h5 {
  @include h5;
}

p {
  @include p;
}

html {
  font-family: "Inter", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
