.post {
  display: flex;
  gap: var(--spacing-lg);
  flex-direction: column;
  cursor: pointer;
  border-bottom: 1px solid rgb(214, 214, 214);
  padding-bottom: var(--spacing-lg);

  &__info-container {
    display: flex;
    gap: 4px;
    flex-direction: column;
  }

  &__title {
    color: var(--title-color);
    font-size: var(--font-size-xxl);
    font-weight: 800;
  }

  &__text {
    color: var(--text-color);
    font-size: var(--font-size-md);
    font-weight: 500;
  }

  &__date {
    color: var(--primary-color);
    font-size: 0.85rem;
  }
}
