.post {
  display: flex;
  gap: 8px;
  flex-direction: column;
  cursor: pointer;
  border-bottom: 1px solid rgb(214, 214, 214);
  padding-bottom: 24px;

  &__info-container {
    display: flex;
    gap: 4px;
    flex-direction: column;
  }

  &__title {
    color: var(--title-color);
    font-size: 1.5rem;
    font-weight: 800;
  }

  &__text {
    color: var(--text-color);
    font-size: 0.9rem;
    font-weight: 500;
  }

  &__date {
    color: var(--primary-color);
    font-size: 0.85rem;
  }
}
