.post {
  display: flex;
  gap: var(--spacing-lg);
  flex-direction: column;
  cursor: pointer;
  border-bottom: 1px solid rgb(214, 214, 214);
  padding-bottom: var(--spacing-lg);

  &__info-container {
    display: flex;
    gap: 4px;
    flex-direction: column;
  }
}
