.about-me {
  display: flex;
  gap: var(--spacing-lg);
  margin-top: var(--spacing-xxl);
  margin-bottom: var(--spacing-xxl);

  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: var(--spacing-md);
  }

  &__image_container {
    width: 100%;
    min-width: 300px;
  }

  &__image {
    width: 100%;
    max-width: 300px;
    margin-right: 1rem;
    border-radius: 16px;
  }

  &__title {
    font-size: 1.6rem;
    color: var(--title-color);
    font-size: var(--font-size-xxl);
    font-weight: 800;
  }

  &__rich-text_container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    color: var(--text-color);
    font-size: var(--font-size-md);
  }
}
